<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Open+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <title>Pit Stop</title>
  <!-- <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'> -->
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUvSlDO2TVSdePtRDp-Jvb35dfhZCThYs&sensor=true"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation">
    <div class="navbar">
      <a href='/runit' data-no-turbolink><div id="title">Pit Stop</div></a>
        <div class="navbar-header navbar-right">
          <% if signed_in? %>
            <p class="navbar-text">
              <%= link_to current_user.username, current_user %>
            </p>
            <p class="navbar-text">
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </p>
            <!-- <p class="navbar-text">
              %= link_to "Bathrooms", %>
            </p> -->
          <% else %>
            <p class="navbar-text" data-toggle="modal" data-target="#signUpModal">
              <%= link_to "Sign up", signup_path %>
            </p>
            <p class="navbar-text" data-toggle="modal" data-target="#signInModal" id="signin">
              <%= link_to "Sign in", signin_path %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'layouts/signin_modal' %>

    <%= render 'layouts/signup_modal' %>

    <%= yield %>

</body>
</html>
